header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  background: #8193ff;
  color: #ffffff; }

.about-me, .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  background: #00000026;
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 5px; }
  .about-me p, .contact p {
    font-weight: bold;
    font-size: 20px; }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .contact a {
    padding-left: 5px;
    margin: 5px;
    border: 1px solid #8193ff;
    border-radius: 5px; }
